.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.dmrc
.gtkrc-2.0
.icons/
.lesshst
.local/
.mozilla/
.oh-my-zsh/
.profile
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
.zcompdump-debian-5.9
.zcompdump-debian-5.9.zwc
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
Descargas/
.gitconfig
